<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Knappsack user activation notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="email-headerTH :: email-header"/>

<p th:text="#{greeting(${userName})}">
    Hello, Peter Static!
</p>
<p th:inline="text">
    <b>[[${applicationName}]] v.[[${applicationVersion}]]</b> ha sido puesta a disposici&oacute;n para su descarga.   Por favor, navegue a la URL que hay más abajo para ver la aplicaci&oacute;n.
</p>
<p th:inline="text">
    <b>si accede desde su dispositivo m&oacute;vil podr&aacute; instalarla en el mismo r&aacute;pidamente.
</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<div th:include="email-footerTH :: email-footer"/>
</body>
</html>
