<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Marketplace de Knappsack, Notificaci&oacute;n de activaci&oacute;n de cuenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="email-headerTH :: email-header"/>

<p th:text="#{greeting(${name})}">
    Hola, Peter Static!
</p>
<p th:text="#{email.accountActivation.org(${organizationName})}" th:if="${not #strings.isEmpty(organizationName)}">
    ¡Su cuenta ha sido creada correctamente! Sin embargo, esta debe ser activada antes de usarla. Por favor, haga click en el siguiente enlace para activar su cuenta
</p>
<p th:text="#{email.accountActivation}" th:if="${#strings.isEmpty(organizationName)}">
    ¡Su cuenta ha sido creada correctamente! Sin embargo, esta debe ser activada antes de usarla. Por favor, haga click en el siguiente enlace para activar su cuenta.</p>
<p>
    <a th:href="${url}" th:text="${url}"/>
</p>
<div th:include="email-footerTH :: email-footer"/>
</body>
</html>
